---
import type { AcceptedLanguage } from "@/i18n";
import type {
  ExternalLinkSource,
  PersonalProjectDTO,
  TechnologiesDTO,
} from "@/i18n/data/projects";
import { ExternalSourceButton } from "./external-source-button";
import ProjectThumbnail from "./project-thumbnail.astro";
import { TechnologiesMore } from "./technologies-more";
import { TechnologyBadge } from "./technology-badge";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";

interface Props {
  project: PersonalProjectDTO;
  language: AcceptedLanguage;
}

const MAX_TECH_BADGES_DISPLAYED = 3;

const { project, language } = Astro.props;
---

<Card>
  <CardHeader className="p-0">
    <CardTitle>
      <div class="relative">
        {
          project.thumbnail.hasDarkMode ? (
            <div>
              <ProjectThumbnail class="dark:hidden" project={project} />
              <ProjectThumbnail
                class="hidden dark:block"
                project={project}
                isDarkMode
              />
            </div>
          ) : (
            <ProjectThumbnail project={project} />
          )
        }
        <div
          class="to-card absolute top-0 left-0 h-full w-full bg-linear-to-b from-transparent to-85%"
        >
        </div>
        <h3 class="absolute bottom-3 left-6 text-2xl font-semibold">
          {project.name}
        </h3>
      </div>
    </CardTitle>
    <CardDescription className="px-6">
      <div class="flex flex-wrap gap-2">
        {
          project.technologies
            .slice(0, MAX_TECH_BADGES_DISPLAYED)
            .map((tech) => (
              <TechnologyBadge technology={tech as TechnologiesDTO} />
            ))
        }
        <TechnologiesMore
          client:load
          projectId={project.id}
          technologies={project.technologies.slice(
            MAX_TECH_BADGES_DISPLAYED
          ) as TechnologiesDTO[]}
        />
      </div>
    </CardDescription>
  </CardHeader>
  <CardContent>
    <p class="text-foreground prose md:prose-lg">
      {project.description[language]}
    </p>
  </CardContent>
  <CardFooter className="flex gap-2 pb-6">
    {
      Object.entries(project.externalLinks).map(([source, url]) => (
        <ExternalSourceButton source={source as ExternalLinkSource} url={url} />
      ))
    }
  </CardFooter>
</Card>
