---
import type { AcceptedLanguage } from "@/i18n";
import type {
  ExternalLinkSource,
  PersonalProjectDTO,
} from "@/i18n/data/projects";
import { ExternalSourceButton } from "./external-source-button";
import { Markdown } from "./markdown";
import ProjectThumbnail from "./project-thumbnail.astro";
import TechList from "./tech-list.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";

interface Props {
  project: PersonalProjectDTO;
  language: AcceptedLanguage;
}

const { project, language } = Astro.props;
---

<Card
  className="hover:border-primary/40 group h-full flex-1 overflow-hidden transition-all hover:-translate-y-2"
>
  <CardHeader className="p-0">
    <CardTitle className="overflow-hidden">
      <div class="relative rounded-xl">
        <!-- Thumbnail -->
        <div class="transition-transform duration-250 group-hover:scale-110">
          {
            project.thumbnail.hasDarkMode ? (
              <>
                <ProjectThumbnail
                  class="dark:hidden"
                  projectId={project.id}
                  alt={project.thumbnail.altText[language]}
                />
                <ProjectThumbnail
                  class="hidden dark:block"
                  projectId={project.id}
                  alt={project.thumbnail.altText[language]}
                  isDarkMode
                />
              </>
            ) : (
              <ProjectThumbnail
                projectId={project.id}
                alt={project.thumbnail.altText[language]}
              />
            )
          }

          <!-- Bottom gradient -->
          <div
            class="to-card pointer-events-none absolute inset-0 left-0 h-full w-full bg-linear-to-b from-transparent from-40% to-85%"
          >
          </div>
        </div>

        <!-- Title -->
        <div class="absolute bottom-0 left-0 w-full px-6">
          <h3 class="text-2xl font-semibold">
            {project.name}
          </h3>
        </div>
      </div>
    </CardTitle>
    <CardDescription className="px-6">
      <TechList
        projectId={project.id}
        technologies={project.technologies}
        maxTechBadgesDisplayed={3}
      />
    </CardDescription>
  </CardHeader>
  <CardContent>
    <Markdown
      className="text-muted-foreground"
      content={project.description[language]}
    />
  </CardContent>
  <CardFooter className="mt-auto space-x-2 pb-6">
    {
      Object.entries(project.externalLinks).map(([source, url]) => (
        <ExternalSourceButton source={source as ExternalLinkSource} url={url} />
      ))
    }
  </CardFooter>
</Card>
